LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
DISABLE_NOISE_CANCELLATION=



LIVEKIT_API_KEY="APIuh39xwZRGzBB"
LIVEKIT_API_SECRET="oVF35Uj3VzrS318svtFwfWjtPV6RdelDP3fiOm7G8yMB"
LIVEKIT_URL="wss://customersupportagent-z9hdx01v.livekit.cloud"
DISABLE_NOISE_CANCELLATION=true
COMPANY_NAME=United Civil Servant SACCO